.footer {
    .container {
        .row {
            .col {
                button {
                    font-size: 25px;

                }

                button:hover {
                    color: black !important;
                }
            }
        }
    }
}
